// =================COLORS=================
$primary:#faa018;
$primary-dark:darken($primary,10%);
$primary-darkish:darken($primary,5%);
$sale:green;
$rent:#c90101;
$secondary:#82c013;
$secondary2:#009de0;
$card-title:#1d4e7c;
$footer-border:#666;
$subheader-text:#888;
$footer-text:#888;
$footer-navlink:#ccc;
$box-border-color:#ccc;
$inner-topnav:#343434;	
$innerpage-background:#efefef;
$innerpage-text:#757575;
$facebook:#3B5998;
$twitter:#1DA1F2;
$google-plus:#DB4437;
$linkedin:#0077B5;
$form-input-background:#e6e6e6;
//dashboard pages
$dashboard-block2:#124b82;
$dashboard-block3:#469ec4;
$dashboard-block4:#1dbafd;